.left-header{
    margin-top: 30px;
}
.border-left{
    border-left: 1px solid gray;
    height: 100px;
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.menu>li{
    padding-left: 30px;
    color: black;
    font-weight: bold;
}