.List{
    margin: 20px;
    margin-bottom: 100px;
    position: relative;
    margin-top: 50px;
    .radiusImage{
        position: absolute;
        // top: 100px;
        z-index: 1;
    }
    .listContent{
        background-color: white;
        padding: 120px 60px 0 60px;
        border-radius: 8px;
        position: relative;
        top: 100px;
        .textBlock{
            padding: 0 20px 20px 20px;
            :first-child{
                color: #000;
            }
            .place{
                color: #000;
                opacity: 0.5;
            }
        }
        .divaider{
            margin: auto;
            width: 170px;
            border: 1px solid #979797;
        }
        .shareBlog{
            .share{
                padding-top: 20px;
                color: #000 !important;
                opacity: 0.2;
            }
            .icons{
                padding: 20px;
            }
        }
    }
}
@media screen and (max-width: 450px){
    .List{
        .listContent{
            .textBlock{
                .title{
                   font-size: 17px; 
                }
                .place{
                    font-size: 14px;
                }
            }
        }
    }
}
