.Blog{
    .imageContent{
        width: 100%;
        height: 485px;
        background-repeat: no-repeat;
        .textContent{
            width: 55%;
            background-color: rgba($color: #000000, $alpha: 0.1);
            .blogTitle{
                color: white;
                padding: 20px;
            }
            .blogDesc{
                color: white;
                padding: 20px;
            }
        }
    }
    .popularItems{
        .items{
            padding: 20px 0;
        }
    }
}