@import 'sass/variables.scss';

.Button {
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.62px;
    transition: all .2s linear;
    border-radius: 5px;
  &.white{
    background-color: white;
    border:1px solid #047CBC;
  }
    &.blue{
      background-color: $secondary-blue;
    }
    &.green {
      background-color: $secondary-green;
      &:hover {
        background-color: $secondary-orange;
      }
    }
    &.orange {
      background-color: $secondary-orange;
    }
    &.small {
        font-size: $small-font-size;
        padding: 12px 40px;
    }
    &.medium {
        font-size: $medium-font-size;
        padding: 9px 50px;
    }
    &.large {
        font-size: $large-font-size;
        padding: 15px 95px;
    }
};
