@import 'sass/variables.scss';

.TeamMemberCard{
    width: 370px;
    padding: 28px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 1px rgba(187, 175, 175, 0.5);
    &.darkMode {
        background-color: $dark;
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
    }
    .text-block{
        display: flex;
        flex-direction: column;
        padding: 20px 0 20px; 
        :first-child{
            padding-bottom: 10px;
        }
    }
    .divaider{
        width: 100%;
        border: 1px solid  #DEDFDE;
    }
    .icon-block{
        width: 100%;
        :first-child{
            margin: 20px 5px;
        }
    }
}
@media screen and (max-width: 630px){
    .TeamMemberCard{
        width: 300px;
    }
}
@media screen and (max-width: 830px){
    .TeamMemberCard{
        width: 300px;
        .text-block{
            .teamMemberName{
                font-size: 18px;
            }
            .teamMemberProfession{
                font-size: 16px;
            }
        }

    }
}