.DarkModeButton {
  height: 50px;
  width: 50px;
  border-radius: 64px;
  cursor: pointer;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  .Icon {
    height: 50px;
    width: 50px;
  }
}
